<?xml version="1.0"?>
<phpunit bootstrap="src/tests/bootstrap.php">
    <testsuites>
        <testsuite name="Unit_Tests">
            <directory suffix="Test.php">src/tests/unit-tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src/bin</directory>
            <directory suffix=".php">src/php</directory>
        </include>
        <report>
            <html outputDirectory="review/code-coverage" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>
    <logging>
        <testdoxHtml outputFile="review/testdox.html"/>
        <testdoxText outputFile="review/testdox.txt"/>
    </logging>
</phpunit>
